<strong> Olá {{deliveryman_name}}</strong>
<p style="font-weight: bold, font-size: 30px;">Uma encomenda foi cancelada </p>

<p>

    <strong>O produto: </strong> {{client_product}}
    <strong> está disponível para retirada</strong>
    </br>
    <strong>No momento da retirada use o ID: {{order_id}}</strong>
    </br>
    <small>
        Por favor venha retirar as encomendas.
    </small>
</p>
