<strong> Olá {{deliveryman_name}}</strong>
<p>Há uma nova entrega a ser feita </p>

<p>

    <strong>O produto: </strong> {{client_product}}
    <strong> está disponível para retirada</strong>
    </br>
    <small>
        Por favor venha retirar as encomendas.
    </small>
</p>
