<strong> Olá {{deliveryman_name}}</strong>
<p>Há uma nova entrega a ser feita </p>

<p>
    <strong>Cliente:</strong> {{client_name}} <br />
    <strong>Endereço: </strong> {{client_address}}
    </br>
    <small>
        Por favor venha retirar as encomendas.
    </small>
</p>
